@import "tailwindcss";

:root {
  --background: linear-gradient(to right, #B671FF, #C577EE, #E282CA);
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: "Comic Relief", system-ui;
  --font-mono: "Comic Relief", system-ui;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: linear-gradient(to right, #B671FF, #C577EE, #E282CA);
    --foreground: linear-gradient(to right, #B671FF, #C577EE, #E282CA);
  }
}

html,
body {
  background: linear-gradient(to right, #B671FF, #C577EE, #E282CA);
  color: var(--foreground);
  font-family: "Poppins", system-ui;
  min-height: 100vh;
}

.comic-relief-regular {
  font-family: "Comic Relief", system-ui;
  font-weight: 400;
  font-style: normal;
}